body {
  background-image: url("preview.jpg");
  background-size: repeat;
  font: 1.2em sans-serif;
}

.container {
  min-width: 75%;
  max-width: 75%;
  min-height: 55vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.container__header {
  background-color: rgba(39, 35, 35, 0.5);
  backdrop-filter: blur(10px);
  border-radius: 10px 10px 0px 0px;
}

.container__body {
  background-color: rgba(39, 35, 35, 0.5);
  backdrop-filter: blur(10px);
  min-height: 40vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.container__footer {
  min-height: 10vh;
  background-color: rgba(39, 35, 35, 0.5);
  backdrop-filter: blur(10px);
  border-radius: 0 0 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#difficulty {
  font-size: 1rem;
  font-weight: bold;
  color: #000000;
  padding: 8px;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 10px;
}

label {
  margin-left: 15px;
}

.container__playgrid {
  min-width: 250px;
  min-height: 250px;
  backdrop-filter: blur(10px);
  border-radius: 10px 10px 10px 10px;
}

.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  min-height: 250px;
  border-radius: 5px;
}

.div0 {
  grid-area: 1 / 1 / 2 / 2;
  border-right: solid 1px #867a7a;
  border-bottom: solid 1px #867a7a;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.div1 {
  grid-area: 1 / 2 / 2 / 3;
  border: solid #867a7a 1px;
  border-top: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.div2 {
  grid-area: 1 / 3 / 2 / 4;
  border: solid #867a7a 1px;
  border-top: none;
  border-right: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.div3 {
  grid-area: 2 / 1 / 3 / 2;
  border: solid #867a7a 1px;
  border-left:none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.div4 {
  grid-area: 2 / 2 / 3 / 3;
  border: solid #867a7a 1px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.div5 {
  grid-area: 2 / 3 / 3 / 4;
  border: solid #867a7a 1px;
  border-right: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.div6 {
  grid-area: 3 / 1 / 4 / 2;
  border: solid #867a7a 1px;
  border-left: none;
  border-bottom:none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.div7 {
  grid-area: 3 / 2 / 4 / 3;
  border: solid #867a7a 1px;
  border-bottom:none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.div8 {
  grid-area: 3 / 3 / 4 / 4;
  border: solid #867a7a 1px;
  border-bottom: none;
  border-right: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.tic {
  font-size: 3em;
}


button {
    background-color: #867a7a;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 10px;
}

button:hover {
    background-color: #ffffff;
    color: #867a7a;
}

